<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  
  <body>
   <h1>Przygotuj własne taco!</h1>
   <img th:src="@{/images/TacoCloud.jpg}" />
   
   <form method="POST" th:object="${design}" >
   
     <div th:if="${#fields.hasErrors('ingredients')}">
       <span class="validationError">Za mało składników.</span>
     </div> 
   
     <div class="grid">
       <div class="ingredient-group" id="wraps">
       <h3>Wybierz rodzaj mąki:</h3>
       <div th:each="ingredient : ${wrap}">
         <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
         <span th:text="${ingredient.name}">SKŁADNIK</span>
         <br/>
       </div>
       </div>
     
       <div class="ingredient-group" id="proteins">
       <h3>Wybierz mięso:</h3>
       <div th:each="ingredient : ${protein}">
         <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
         <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
       </div>
       </div>
       
       <div class="ingredient-group" id="cheeses">
       <h3>Wybierz sery:</h3>
       <div th:each="ingredient : ${cheese}">
         <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
         <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
       </div>
       </div>
       
       <div class="ingredient-group" id="veggies">
       <h3>Wybierz warzywa:</h3>
       <div th:each="ingredient : ${veggies}">
         <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
         <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
       </div>
       </div>
       
       <div class="ingredient-group" id="sauces">
       <h3>Wybierz sosy:</h3>
       <div th:each="ingredient : ${sauce}">
         <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
         <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
       </div>
       </div>
       
       <div>
         <h3>Nadaj nazwę przygotowanemu taco:</h3>
         <input type="text" th:field="*{name}"/>
         <span class="validationError"
           th:if="${#fields.hasErrors('name')}"
           th:errors="*{name}">Za krótka nazwa taco.</span>
         </br>
         <button>Wyślij swoje zamówienie</button>
       </div>
     </div>
   </form>
  </body>
</html>
