<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Aplikacja Taco Cloud</title>
  </head>
  
  <body>
    <h1>Witaj w...</h1>
    <img th:src="@{/images/TacoCloud.jpg}"/>
    <a th:href="@{/design}">Przygotuj swoje taco.</a>
    <br/>
  </body>
</html>
